<div class="movie-card">
  <img src="{{ poster_image }}" alt="{{ title }}">
   <h3><a href="{{ node_url }}">{{ title }}</a></h3>
  <p>Genre: {{ genre }}</p>
  <p>Released: {{ release_year }}</p>
</div>
